nav {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: transparent;
  min-height: 8vh;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      list-style-type: none;
      margin: 1.1rem 1rem 1.1rem 2rem;
      a {
        color: rgb(92, 89, 89);
        text-decoration: none;
        letter-spacing: 0.2rem;
        transition: all 0.1s ease;
        &:hover {
          color: $themeColor;
        }
      }
    }
  }
}
